@import url("mainStyles.css");

.grid-container {
  max-width: 980px;
  margin: auto;
}
  a {
    color: var(--off-white);
  }
  
  header {
    display: grid;
    grid-template-rows: 1fr;
    background-color: black;
  }
  header nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .nav-logo-container img {
    height: 85px;
    filter: invert(100%);
  }
  
  header nav .profile-link {
    display: flex;
    justify-content: flex-end;
  }
  nav .profile-link a {
    margin-right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--off-white);
    border-bottom: 1px solid var(--off-white);
  }
  nav .profile-link span:hover {
    color: #b73052;
    border-bottom: 1px solid #b73052;
  }
  
  .icons-container {
    position: fixed;
    top: 70%;
  }
  .icons-container .icons {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
  }
  .icons span {
    color: var(--just-white);
  }
  .icons span:hover {
    color: #b73052;
    /* box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.9); */
  }
  
  .blogs-main {
    display: grid;
    background-color: var(--warm-black);
    padding: 40px 0;
  }
  .blogs-news-container {
    background-color: var(--black);
    /* padding: 20px 50px 40px; */

  }
  .blogs-main-news{
    display: grid;
    /* grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr; */
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    place-content: center;

    grid-template-areas: 
        "title  text"
        "photo  text"
        "photo  text"
    ;
    font-size: 1.8rem;
  } 
  .blog-main-news h3{
    padding: 10px 10px 0 10px;
    grid-area: title;
    
  }
  .blogs-news-img-container {
    /* grid-column: 1; */
    grid-area: photo;
  }
  .blogs-news-img-container img {
    width: 85%;
  }
  .blogs-news-info-container {
    /* grid-column: 2; */
    grid-area: text;
  }
  .blogs-news-info-container p {
    margin-bottom: 35px;
    padding: 15px 30px 0 0;
  }
  .blogs-button {
    padding: 10px 15px;
    /* background-color: black; */
    border: 1px solid var(--color-prymary);
    
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
  }
  .blogs-post-container{
    /* padding: 0 50px 40px; */
  }
  .blogs-post-container h3 {
    border-bottom: 1px solid var(--just-white);
    padding: 20px 0;
    text-align: center;
  }
  .blogs-internal-container{
    
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 10px;
    /* max-width: 980px; */
    justify-content: center;
  }
.blogs-post-container .post-container {
  /* display: inline-block; */
  margin-bottom: 50px;
}
.post-container p {
  margin-bottom: 35px;
}
.post-container img {
  width: 100%;
  object-fit: contain;
}


  
  