:root {
    --font-small: 1.6rem;
    --font-medium: 1.8rem;
    --font-large: 3.5rem;
    --color-prymary: #b73052;
    --warm-black: #201e1c;
    --black: #282623;
    --gray: #bababa;
    --gray-text: #757575;
    --off-white: #faf8f7;
    --just-white: #fff;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    color: var(--off-white);
  }
  a {
    text-decoration: none;
  }



  footer {
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid var(--color-prymary);
    text-align: center;
  }
  footer p {
    color: white;
    margin: 15px;
  }