:root {
  --font-small: 1.2rem;
  --font-medium: 1.4rem;
  --font-laarge: 1.6rem;
  --color-prymary: #0e1ac2;
  --warm-black: #201e1c;
  --black: #282623;
  --gray: #bababa;
  --gray-text: #757575;
  --off-white: #faf8f7;
  --just-white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
a {
  text-decoration: none;
}

header {
  position: absolute;
  width: 100%;
  height: 85px;
  display: grid;
  grid-template-rows: 1fr;
}
header nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 90px;
  align-items: center;
}
.nav-logo-container img {
  height: 85px;
  filter: invert(100%);
}

header nav .profile-link {
  display: flex;
  justify-content: flex-end;
}
nav .profile-link a {
  margin-right: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--off-white);
  border-bottom: 1px solid var(--off-white);
}
nav .profile-link span:hover {
  color: #b73052;
  border-bottom: 1px solid #b73052;
}

.icons-container {
  position: absolute;
  top: 70%;
}
.icons-container .icons {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
.icons span {
  color: var(--just-white);
}
.icons span:hover {
  color: #b73052;
  /* box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.9); */
}

.home-main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  align-items: center;
  background-image: url("../assets/img/pexels-philippe-donn-medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home-main section {
  display: grid;
  grid-column: 2;
  justify-items: center;
  align-items: center;
}
.home-main-text {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #fff;
  text-shadow: 0 0 5px #b73052;
  text-align: center;
}
.home-main-button {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: #b73052;
  border: none;
  /* border: 2px solid #b73052; */
  border-radius: 50px;
}
.home-main-button a {
  font-family: "DM Sans", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.home-main-button:hover {
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.9);
}
