:root {
    --font-small: 1.2rem;
    --font-medium:1.4rem;
    --font-laarge: 1.6rem;
    --color-prymary: #47cfac;
    --warm-black: #201e1c;
    --black: #282623;
    --gray: #bababa;
    --gray-text: #757575;
    --off-white: #faf8f7;
    --just-white: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
  }
body{
    position: fixed ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    }
a {
    text-decoration: none;
}

header {
    width: 100%;
    display: grid;
    grid-template-rows: 50px 90px;
  }
  header .header-icons-container {
    width: 100vw;
    display: flex;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #757575 100%);
    justify-content: flex-end;
    align-items: center;  
  }
  header .header-icons-container .icons {
    margin-right: 50px;
  } 
  header .icons span {
    color: var(--just-white);
  }
  header nav {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  header nav .nav-logo-container {
    margin-left: 50px;
  }
  header nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
  }
  header nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
  }

  nav .profile-link a {
    color: black  ;
    border-bottom: 1px solid black;
  }

